<div id="tee_time_list">
  <div class="well col-md-8">
    <div class="table-responsive col-md-12 fit-width">
      <table class="table">
        <thead class="table-head">
          <tr>
            <th>Time</th>
            <th>Date</th>
            <th>Available</th>
            <th>Unit Price</th>
            <th>Purchase</th>
          </tr>
        </thead>
        <tbody class="table-body">
          <% @tee_times.each do |tee_time| %>
          <tr>
            <td><%= tee_time.time %></td>
            <td><%= tee_time.date %></td>
            <td><%= tee_time.quantity %></td>
            <td>$<%= tee_time.unit_price %></td>
            <td><%= link_to 'Book', courses_path, class: 'btn btn-primary btn-sm' %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
