<div id="tee_time_list">
  <div class="well col-md-8">
    <div class="table-responsive col-md-12 fit-width">
      <table class="table">
        <h2><%= link_to @course.name, course_path(@course.id), style: "color: blue" %></h2>
        <%= @course.street %>
        <%= @course.location %><br>
        <%= @course.phone %>
        <thead class="table-head">
          <tr>
            <th>Time</th>
            <th>Date</th>
            <th>Available</th>
            <th>Unit Price</th>
            <th>Purchase</th>
          </tr>
        </thead>
        <tbody class="table-body">
          <% @tee_times = @tee_times.sort_by {|obj| obj.tee_off_at} %>
          <% @tee_times.each do |tee_time| %>
          <tr>
            <td><%= link_to tee_time.time, tee_time_path(tee_time.course_id, tee_time.id), style: "color: blue" %></td>
            <td><%= tee_time.date %></td>
            <td><%= tee_time.quantity %></td>
            <td>$<%= tee_time.unit_price %></td>
            <td><%= link_to 'Book', tee_time_path(tee_time.course_id, tee_time.id), class: 'btn btn-primary btn-sm' %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
