<div id="tee_time_list">
  <div class="well col-md-8 col-xs-11 mobile-well">
    <div class="col-md-12 fit-width mobile-main">
      <table class="table">
        <h2><%= link_to @course.name, course_path(@course.id), style: "color: blue" %></h2>
        <%= @course.street %>
        <%= @course.location %><br>
        <%= @course.phone %>
        <thead class="table-head">
          <tr>
            <th>Time</th>
            <th>Date</th>
            <th>Available</th>
            <th>Unit Price</th>
            <th>Purchase</th>
          </tr>
        </thead>
        <tbody class="table-body">
          <% @tee_times = @tee_times.sort_by {|obj| obj.tee_off_at} %>
          <% @tee_times.each do |tee_time| %>
          <tr>
            <td><%= link_to tee_time.time, tee_time_path(tee_time.course_id, tee_time.id), style: "color: blue" %></td>
            <td class="mobile-center"><%= tee_time.date %></td>
            <td class="mobile-center"><%= tee_time.quantity %></td>
            <td>$<%= tee_time.unit_price %></td>
            <% if current_user %>
            <td class="mobile-center"><%= link_to 'Book', tee_time_path(tee_time.course_id, tee_time.id), class: 'btn btn-primary btn-sm' %></td>
            <% else %>
            <td class="mobile-center"><%= link_to "Log in with Google to View Tee Times", "/auth/google_oauth2", class: 'btn btn-primary btn-sm', id: "log_in" %></td>
            <% end %>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
