<div id="tee_time_list">
  <%= form_tag("/orders") do %>
  <div class="row">
    <div class="well col-md-7">
      <div class="table-responsive col-md-10 fit-width">
        <%= hidden_field_tag(:id, @tee_time.id) %>
        <%= hidden_field_tag(:course_id, @tee_time.course_id) %>
        <table class="table">
          <h2><%= link_to @course.name, course_path(@course.id), style: "color: blue" %></h2>
          <%= @course.street %>
          <%= @course.location %><br>
          <%= @course.phone %>
          <thead class="table-head">
            <tr>
              <th>Time</th>
              <th>Date</th>
              <th>Players</th>
              <th>Unit Price</th>
              <th>Total</th>
              <th>Purchase</th>
              <th></th>
            </tr>
          </thead>
          <tbody class="table-body">
            <tr>
              <td><%= @tee_time.time %></td>
              <td><%= @tee_time.date %></td>
              <td>
                <%= select_tag(:quantity, options_for_select([4, 3, 2, 1])) %>
              </td>
              <td>$<%= @tee_time.unit_price %></td>
              <td id="total_price">$<%= @tee_time.total_price(@tee_time) %></td>
              <td><%= button_to 'Confirm Booking', orders_path, class: 'btn btn-primary btn-sm' %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="well col-md-3">
      <div class="table-responsive col-md-12 fit-width">
        <table class="table">
          <h2>Send text</h2>
          <h4>Select players / Enter numbers</h4>
          <thead>
            <tr>
              <th>Name</th>
              <th>Phone</th>
            </tr>
          </thead>
          <tbody id="players">
            <tr>
              <td><%= current_user.name %></td>
              <td><%= current_user.formatted_phone %></td>
            </tr>
            <% player_options = @players.map { |p| [p.name, p.id] } %>
            <tr>
              <td>
                <%= select_tag(:player_1_id, options_for_select(player_options)) %>
              </td>
              <td>
                <%= @players[0].formatted_phone %>
              </td>
            </tr>
            <tr>
              <td>
                <%= select_tag(:player_2_id, options_for_select(player_options, @players[1].id)) %>
              </td>
              <td>
                <%= @players[1].formatted_phone %>
              </td>
            </tr>
            <tr>
              <td>
                <%= select_tag(:player_3_id, options_for_select(player_options, @players[2].id)) %>
              </td>
              <td>
                <%= @players[2].formatted_phone %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <% end %>
</div>

<script>
$(document).ready(function () {
  $("#quantity").change(function () {
    var newTotalPrice = $("#quantity").val() * <%= @tee_time.unit_price %>
    $("#total_price").text('$'+newTotalPrice.toFixed(2))
    updatePlayers()
  });

  function updatePlayers() {
    var quantity = $("#quantity").val()
    var playerRows = $("#players > tr")
    if (quantity == 4) {
      playerRows.css("display", "")
    } else if (quantity == 3) {
      playerRows.css("display", "")
      playerRows.last().css("display", "none")
    } else if (quantity == 2) {
      playerRows.css("display", "")
      playerRows.last().prev().css("display", "none")
      playerRows.last().css("display", "none")
    } else if (quantity == 1) {
      playerRows.css("display", "none")
      playerRows.first().css("display", "")
    }
  }
});
</script>
