<div class='container-fluid'>
  <div class="row settings text-center">
    <div class="well col-md-3 col-md-offset-2">
      <h3> <%= link_to "Manage Account", settings_path, style: "color: blue" %></h3>
    </div>
    <div class="well col-md-3">
      <h3><%= link_to 'View Orders', orders_path, style: "color: blue" %></h3>
    </div>
    <div class="well col-md-3">
      <h3><%= link_to 'Add Player', new_player_path, style: "color: blue" %></h3>
      <p>
        <% @players.each do |player| %>
        <%= player.name %>
        <%= player.phone %>
        <% end %>
      </p>
    </div>
  </div>
</div>
