<div>
  <h1 class="courses"><strong>Order History</strong></h1>
  <div class="well col-md-7 table-responsive">
    <table class="table">
      <thead>
        <td>Order Number</td>
        <tr>
          <th>Date Placed</th>
          <th>Course Name</th>
          <th>Tee Off At</th>
          <th>Quantity</th>
          <th>Unit Price</th>
        </tr>
      </thead>
      <tbody class="table-body">
        <% @orders.each do |order| %>
        <tr>
          <td><%= order.created_at %></td>
          <td><%= link_to order.course_name, course_path(order.course_id) %></td>
          <td><%= order.tee_off_at %></td>
          <td><%= order.quantity %></td>
          <td>$<%= order.unit_price %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
