<div class="page-content">
  <div class ="well col-md-4  col-xs-10 text-center course">
    <h1 class="pull-left"><strong><%= @course.name %></strong></h1><br><br><br><br>
    <main class="pull-left">
      <%= @course.street %>
      <%= @course.location %>
    </main><br>
    <main class="pull-left phone"><%= @course.phone %></main>
    <p><%= image_tag(@course.image , alt: "#{@course.name} pic", class: 'img-thumbnail course-image-show') %></p>
    <p class="web-tee-time-btn"><%= link_to "Tee Times", tee_times_path(@course.id), class: 'btn btn-primary btn-md' %></p>
    <% if current_user %>
    <p class="mobile-tee-time-btn"><%= link_to "Tee Times", tee_times_path(@course.id), class: 'btn btn-primary btn-md' %></p>
    <% else %>
    <p class="mobile-tee-time-btn"><%= link_to "Log in with Google to View Tee Times", "/auth/google_oauth2", class: 'btn btn-primary btn-md', id: "log_in" %></p>
    <% end %>
  </div>
</div>
